/* This is the main css style sheet. It contains custom styles for html elements. */

body {
    background: #839192;
    font-family: verdana;
}

.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 20px;
}


/* This is the style for the canvas html element. Since the style has the same name as html element,
    we do not need to put a period before name when defining the style. You also don't need to write 
    class="stylename" in the html element. */

canvas {
    border: 1px solid #2E4053;
}


/* This is the style for the div that contains the canvas in the app. Since the div is not called
   "canvascontainer", or since the class/ stylename does not match the name of the html element, you
   do need to put a period before the name of the style. */

.canvascontainer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3498DB;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3498DB
}

.button:active {
    background-color: #3498DB;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttoncontainer {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25px;
}